html {
    /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
    font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.con {
    margin-left: auto;
    margin-right: auto;
}

.height-100p {
    height: 100%;
}

.flex {
    display: flex;
}

.flex-ai-c {
    align-items: center;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-row {
    flew-flow: row;
}

.flex-grow-1 {
    flex-grow: 1;
}

.img-box>img {
    width: 100%;
    display: block;
}

/* 커스텀 */

/* 탑바 시작 */
.top-bar {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    position: absolute;
    z-index: 2;
    background-color: #3333331F;
}

.con {
    width: 1240px;
    height: 80px;
}

.logo>img {
    width: 143px;
    height: 34px;
}

.top-bar .menu-box>ul>li {
    margin: 0 40px;
}

.top-bar .menu-box>ul>li>a {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    position: relative;
}

.top-bar .menu-box>ul>li>a::after {
    content: "";
    background: linear-gradient(#F37021, #EE1E24);
    width: 0%;
    height: 3.5px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.top-bar .menu-box>ul>li:hover>a::after {
    width: 100%;
}

.top-bar:hover {
    background-color: #FFFFFF;
}

.top-bar:hover .menu-box>ul>li>a {
    color: #333;
}

/* 상단 이미지 중간 텍스트 */
.img-text {
    margin: 0 auto;
    width: 1240px;
    height: 100%;
    z-index: 3;
}

.page-1 .img-text>.text-01 {
    top: 364px;
    position: absolute;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
}

.page-1 .img-text>.text-02 {
    top: 400px;
    position: absolute;
    font-size: 54px;
    color: #FFFFFF;
    font-weight: 300;
}

.page-1 .img-text .text-02 em {
    background: linear-gradient(#F37021, #EE1E24);
    background: -webkit-linear-gradient(#F37021, #EE1E24);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: bold;
}

/* 이미지 슬라이드 */
.page-1 {
    height: 880px;
    position: relative;
}

.page-1>.main-imgs {
    position: relative;
    width: 100%;
    height: 880px;
    overflow: hidden;
}

.page-1>.main-imgs img {
    position: absolute;
    top: 0;
    left: 0;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 12s;
}

.page-1>.main-imgs .main-img-02 {
    animation-delay: -8s;
}

.page-1>.main-imgs .main-img-03 {
    animation-delay: -4s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    53% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* 마우스 아이콘 */
.page-1 .mouse-icon {
    background: url(https://www.redcap.co.kr/static-pc/ir/img/main/ico_mouse.png) no-repeat center top;
    width: 50px;
    height: 70px;
    bottom: 0;
    position: absolute;
    left: calc(50% - 25px);
}

.page-1 .mouse-icon::after {
    content: "";
    background: url(https://www.redcap.co.kr/static-pc/ir/img/main/chevron_down.png) no-repeat center;
    width: 50px;
    height: 35px;
    position: absolute;
    animation-name: srcoll;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    bottom: 0;
}

@keyframes srcoll {
    0% {
        bottom: 8px;
    }

    40% {
        bottom: 1px;
    }

    100% {
        bottom: 8px;
    }
}

/* 퀵 링크 */
.quick-link {
    position: fixed;
    top: 130px;
    z-index: 1;
    left: 30px;
}

.quick-link>ul>li {
    margin: 8px 0;
    position: relative;
    display: block;
}

.quick-link>ul>li>a {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    padding: 0;
    background: url(https://www.redcap.co.kr/static-pc/ir/img/main/sprites_quicklink.png) no-repeat;
}

.quick-link>ul>li>.home {
    background-position: -10px -521px;
}

.quick-link>ul>li>.business {
    background-position: -11px -388px;
}

.quick-link>ul>li>.rentacar {
    background-position: -12px -345px;
}

.quick-link>ul>li>.mice {
    background-position: -10px -431px;
}

.quick-link>ul>li>.tour {
    background-position: -9px -476px;
}

/* 메인페이지 및의 이미지들 */
.page-2 {
    height: 1920px;
    width: 100%;
}

.page-2 .section {
    position: relative;
    height: calc(100% / 4);
    margin: 0 auto;
    max-width: 1240px;
}

.page-2>.section2>.img-02 {
    width: 596px;
    height: 367px;
    background: url(https://www.redcap.co.kr/static-pc/ir/img/main/img_illust_BizTrip.svg) no-repeat;
}

.page-2 .text-head {
    background: linear-gradient(#F37021, #EE1E24);
    background: -webkit-linear-gradient(#F37021, #EE1E24);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.page-2>.section2 .img-02-text-box,
.page-2>.section4 .img-04-text-box {
    margin-left: 100px;
}

.page-2 .text-body {
    font-size: 40px;
    line-height: 48px;
}

.page-2 .text-tail {
    display: inline-block;
    margin-top: 50px;
    position: relative;
    color: #444444;
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 27px;
}

.page-2 .text-tail::after {
    background: url(https://www.redcap.co.kr/static-pc/ir/img/main/chevron_right.png) no-repeat center;
    content: "";
    position: absolute;
    top: 6px;
    right: -24px;
    width: 11px;
    height: 14px;
}

.page-2>.section3,
.page-2>.section5 {
    background-color: #FAFAFA;
}

.page-2>.section3>.img-03>img {
    vertical-align: middle;
    margin-left: 100px;
    width: 600px;
    height: 294px;
}

.page-2>.section5>.img-05 {
    background: url(https://www.redcap.co.kr/static-pc/ir/img/main/img_illust_Tour.svg);
    width: 600px;
    height: 342px;
    margin-left: 100px;
}

/* 맨 아래부분  */
.footer {
    height: 200px;
    position: relative;
    margin: 0;
    bottom: 0;

}

.footer>.footer-text-box {
    position: relative;
    padding-top: 50px;
    height: 100%;
    background-color: #ffffff;
    margin: 0 auto;
    width: 1240px;
}

.footer>.footer-text-box .contact {
    font-size: 13px;
    line-height: 20px;
}

.footer .contact span {
    position: relative;
    margin-right: 16px;
    font-size: 13px;
    letter-spacing: -0.5px;
    color: #999999;
}

.footer>.footer-text-box .contact .bold-text {
    font-weight: 700;
    color: #444444;
}

.footer>.footer-text-box .contact .bar-left::before {
    content: "";
    position: absolute;
    top: 1.5px;
    left: -10px;
    width: 1px;
    height: 14px;
    font-weight: normal;
    font-size: 13px;
    background-color: #cccccc;
}

.footer>.footer-text-box .contact .c-red {
    color: #E85256;
}

.footer>.footer-text-box .contact .copyright {
    position: relative;
    margin-right: 16px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: #999999;
}

.footer .right {
    margin-top: 26px;
}

.footer .sns {
    margin-right: 25px;
    margin-bottom: 10px;
}

.footer .right .sns>li {
    margin: 8px 0 0 12px;
}

.footer .right .sns li a {
    background: url("https://www.redcap.co.kr/static-pc/ir/img/main/sprites_sns.png") no-repeat;
    display: block;
    content: '';
    vertical-align: top;
}

.footer .right .sns .list1>a {
    width: 29px;
    height: 24px;
    background-position: -10px -308px;
}

.footer .right .sns .list1>a:hover {
    background-position: -9px -135px;
}

.footer .right .sns .list2>a {
    width: 24px;
    height: 24px;
    background-position: -9px -264px;
}

.footer .right .sns .list2>a:hover {
    background-position: -3px -93px;
}

.footer .right .sns .list3>a {
    width: 24px;
    height: 24px;
    background-position: -10px -220px;
}

.footer .right .sns .list3>a:hover {
    background-position: -4px -51px;
}

.footer .right .sns .list4>a {
    width: 24px;
    height: 24px;
    background-position: -10px -352px;
}

.footer .right .sns .list4>a:hover {
    background-position: -4px -177px;
}

.footer .right .sns .list5>a {
    width: 24px;
    height: 24px;
    background-position: -10px -396px;
}

.footer .right .sns .list5>a:hover {
    background-position: -9px -9px;
}

.footer .right::after {
    content: '';
    clear: both;
    display: block;
}

.footer .right .site-family .showSitemap {
    background: url("https://www.redcap.co.kr/static-pc/ir/img/main/arrow_up_right.png") no-repeat center right 8px;
    width: 180px;
    height: 40px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding-left: 12px;
    font-weight: 400;
    color: #808080;
    font-size: 14px;
    letter-spacing: -0.5px;
    line-height: 40px;
}